MUJOCO_LOG.TXT
*.pyc
simulation/*.pyc
venv
slurm/*.txt

simulation.egg-info/*
.eggs/*
build/*
mujoco_mpc.egg-info/*
mujoco_mpc/build/CMakeCache.txt
mujoco_mpc/build/.ninja_log
mujoco_mpc/build/.ninja_deps
mujoco_mpc/build/CMakeFiles/CMakeError.log
mujoco_mpc/build/CMakeFiles/CMakeOutput.log

*.jpeg
