numpy==1.25.2
numpy-quaternion==2022.4.3
mujoco==3.1.1
mujoco-mjx==3.1.1
brax==0.9.4
opencv-python==4.8.0.76
matplotlib==3.7.2
nvidia-cudnn-cu11==8.9.6.50
stable-baselines3[extra]
tensorflow==2.14.0
-e git+https://github.com/mcgill-robotics/Humanoid-rl-baselines3-zoo.git@1ac73b7abba2a463daf9f397301c644fc8d10bf9#egg=rl_zoo3
--index-url https://download.pytorch.org/whl/cu121
torch==2.0.1+cu121
torchaudio==2.0.2+cu121
torchvision==0.15.2+cu121
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_pip]